.search-result {
    margin: 40px 120px 0 120px;
    &__title {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
        color: #1a191f;
    }
    &__items {
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 240px);
        column-gap: 15px;
        row-gap: 23px;
        &_space-btw {
            justify-content: space-between;
        }
    }

    &__pagination {
        margin-bottom: 116px;
    }
}
