.top-menu {
    &__container {
        margin: 0 120px;
        padding: 36px 0 30px 0;
    }
    background: linear-gradient(180deg, #ffffff 0%, #f9f8fc 100%);

    &__panel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    .panel {
        display: flex;

        &__search {
            margin: 0 60px;
        }
        .contacts {
            &__number {
                font-size: 18px;
                font-weight: 700;
                margin: 2px 0;
            }
            &__info {
                font-size: 11px;
                font-weight: 400;
            }
        }
        &__contacts {
            margin-right: 21px;
        }

        .button_question {
            border: 2px solid #5d43e1;

            width: 131px;

            color: #5d43e1;
        }
        &__question {
            margin-right: 20px;
        }

        .enter {
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 15px;
                width: 100%;
                
            }
        }
        .button_enter {
            background-color: #5d43e1;
            width: 100px;
            color: #fff;
        }
    }

    .navigation {
        text-transform: uppercase;
        background-color: #1a191f;
        color: #fff;
        display: flex;
        border-radius: 10px;
        height: 64px;
        font-size: 14px;
        font-weight: 700;
        justify-content: space-between;
        &__item {
            color: #fff;
            text-decoration: none;
            padding: 0 28px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: #ffffff;
                color: #5d43e1;
            }
            &:nth-child(2) {
                margin-left: 12px;
                padding-left: 20px;
            }

            &_sale {
                padding: 0 27px;
                color: #fff !important;
                border-radius: 10px;
                background-color: #f1592a !important;
            }
        }
        &__items {
            display: flex;
        }
    }
    .cart-info {
        color: #fff;
        text-decoration: none;
        &__logo {
            margin-right: 20px;
            position: relative;
        }
        &__counter {
            position: absolute;

            border-radius: 50%;
            background-color: #f1592a;
            min-width: 20px;
            min-height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -11px;
            left: 16px;
            &_hide {
                display: none;
            }
        }
        &:hover {
            background-color: #1a191f;
            color: #fff;
            border-radius: 10px;
        }
    }
}

.button {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px;
}
